<!DOCTYPE html>
<html>
<head>
  <title>Ben Rogers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="all">
	<div id="line"></div>
  <div id="name_div">
	<h1 id="name"><%= link_to "Ben Rogers", root_path %></h1>
  </div>

<%= yield %>

</body>
</html>
